.container {
    display: flex;
    border: 5px solid blue;
    height: 100vw;
    width: 100vh;
    justify-content: center;

    /* background image code */
    background-image:url("img/sky.JPG");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pink {
    display: flex;
    height: 25vh;
    width: 50vw;
    width: 50%;
    height: 25%;
    align-self: center;
    justify-content: center;
    border: 10px groove gray;
    box-shadow: 15px 15px #f3a9d9;
}
.pink {
    background-color: pink;
}
h1 {
    /* display: flex;
    align-self: flex-start; */
    font-size: 50px;
    color: #7377ea;
    font-weight: bold;
    text-align: center;
    align-self: flex-start;
}
h2 {
    /* display: flex;
    align-self: center; */
    text-align: center;
}